.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0 0 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    font-weight: 700;
}

.coin-name {
    margin-left: -4rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0 0 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.coin-row:hover {
    transition: 0.3s ease-in-out;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.green {
    color: greenyellow;
}

@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}
