.main-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0 0 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 1rem 1rem;
    font-weight: 700;
    flex-direction: column;
}

.main-search > .heading {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

.main-search > .heading > button {
    padding: 0.2rem 0.5rem;
    border: solid 2px #CD7F32;
    border-radius: 10px;
    cursor: pointer;
    background: #FFBF00;
    font-weight: bold;
    font-size: 14px;
    color: black !important;
    text-transform: uppercase;
}
.main-search > .heading > button:disabled {
    background: grey;
    font-size: 14px;
    color: black !important;
    border: solid 1px dimgrey;
    text-transform: uppercase;
    cursor: unset;
}

.main-search > h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-search > input {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: .5rem;
}
